<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Province</title>
</head>
<body>
<h1>Edit province</h1>
<p>
    <a href="/provinces">Province List</a>
</p>
<th:block th:if="${message}" >
    <p th:text = "${message}"></p>
</th:block>

<form th:action="@{/edit-province}" method="post" th:object="${province}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name: <input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit Province"></td>
        </tr>
    </table>
</form>

</body>
</html>